@page "/admin/changePassword"
@using System.Diagnostics;
@using CafeBisleriumPOS.Modules.Admin.model
@using CafeBisleriumPOS.Modules.Admin.service;
@using CafeBisleriumPOS.common.helperServices;
@inject AdminService adminService
@inject SessionService sessionService;


<h3>Change Password</h3>
<EditForm Model="@adminModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p class="@messageClass">@this.message</p>
    <InputText id="password" @bind-Value="adminModel.Password" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    // Private variables for the admin model, message, and message class.
    private AdminModel adminModel = new AdminModel();
    string message = "";
    string messageClass = "";
    // Handles the submission of the form after validation.
    private async Task HandleValidSubmit()
    {
        // Retrieves the admin ID from the session service.
        int id = sessionService.getId();
        // Calls the AdminService to edit the admin's password.
        var result = await adminService.Edit(id, adminModel, "admin.json");
        // Updates the message and message class based on the operation result.
        if (result.Success)
        {
            message = result.Message;
            messageClass = "success-message";
        }
        else
        {
            message = result.Message;
            messageClass = "fail-message";
        }
    }
}