@page "/"

<!-- Link the external CSS file using the link tag -->
<link rel="stylesheet" href="css/Home/Home.css" />


<h1>Welcome to the</h1>
<h1>BISLERIUM CAFE POS</h1>

<!-- Add the image using the img tag with a relative path and apply the CSS class -->
<img src="coffeeshop.png" alt="Coffee Shop" class="corner-image">

